<div class='navbar navbar-default'>
  <div class='container'>
    <a href='#' class='navbar-brand'><img src='images/logo.png' alt='logo' height='34' width='224' /></a>
    <ul class='nav navbar-nav navbar-right'>
      <li href='#' class='active'>Home</li>
      <li href='#/about'>About</li>
    </ul>
  </div>
</div>
<div class='container'>
{{outlet}}
</div>
<footer class='container'>
<hr />
<p class='pull-left'>&copy; 2013 The Flint &amp; Flame</p>
<p class='pull-right'><a href='#/credits'>Credits</a></p>
</footer>
